<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- Left Div -->
  <div class="hello left">
    <h1>
      hello
    </h1>
    <p>
      I am Abhishek Kumar.
    </p>

    <div class="skills">
        <div>
            <p><b>Blockchain</b> Ethusiast</p>
        </div>
        <div>
            <p><strong>Cloud Architect</strong></p>
        </div>
        <div>
            <p><strong>Modern Web Apps</strong></p>
        </div>
        <div>
            <p><strong>Angular5 / Node.js</strong></p>
        </div>
        <div>
            <p><strong>DevOps - CI/CD</strong></p>
        </div>
        <div>
            <p><strong>Data Engineer</strong></p>
        </div>

    </div>
  </div>

  <!-- Right Div -->
  <div class="hello right-image">

  </div>
    
</div>
